body {

}

nav {
    display: flex;
    justify-content: center;
    padding: .1rem 2rem;
    background-color: transparent;
    border: solid 3px #493D9E;
}


splash {
    padding: 1rem;
    background-color: #F7CFD8;
}

h1 {
    display: flex;
    justify-content: center;
    color: #493D9E;
}

questionOne {
    padding: 1rem;
    color: #493D9E;
    background-color: #F2EFE7;
}

answerTwo {
    padding: 1rem;
    color: #493D9E;
    background-color: #1D1616;
}

footer {

}