body {

}

nav {
    display: flex;
    justify-content: center;
    padding: .1rem 2rem;
    background-color: transparent;
    border: solid 3px #493D9E;
}


splash {

}

questionOne {

}

answerTwo {

}

footer {

}