body {
    background-color: #780C28;
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: .1rem 2rem;
    background-color: white;
    border: solid 3px #493D9E;
    font-size: 60px;
    color: #493D9E;
}


.splash {
    padding: 0;
}

.splash h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'New Rocker', serif;
    font-weight: 700;
    font-size: 60;
    text-align: center;
}

section p {
    font-family: 'Bangers', serif;
    font-size: 40;
}

.questions {
    color: #493D9E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.questions label {
    color: #FFD95F;
    font-family: 'Bangers', serif;
    font-size: 40;
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input, form textarea {
    width: 80%;
    border-radius: 5px;
    border-color: #780C28;
    font-size: 40;
    font-family: 'Luckiest Guy', serif;
    margin-bottom: 10px;
}

form input:focus, form textarea:focus {
    color: #493D9E;
}

form button {
    font-family: 'Bangers', serif;
    font-size: 40;
    color: white;
    width: 80%;
    height: 100%;
    background-color: #F7CFD8;
    border-radius: 5px;
}


.answer {   
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.answer h2 {
    font-family: 'New Rocker', serif;
    font-size: 50;
    display: flex;
    justify-content: center;
}

#lyricsText {
    color: white;
    text-align: center;
    border: .2rem solid;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
    background-color: white;
    border: solid 3px #493D9E;
    font-family: 'Bangers', serif;
    font-size: 25px;
    color: #493D9E;
}

footer a { 
    text-decoration: none;
    font-size: 25px;
}

footer a:hover {
    text-decoration: underline overline;
    color: #780C28;
}